*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
     color: #615b5e;    
}

html{
    font-size: 62.5%;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #00000d;
    
    display: flex;
    justify-content: center;
    align-items: center;    
}


.calendario{
    width: 45rem;
    height: 52rem;
    background-color: 	#ededdd;
  
    border-radius: 10px;    
}

.mes{
    width: 100%;
    height: 12rem;
    background-color: #0061c2;
    border-radius: 10px 10px 0 0;   
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
}

.mes i {
    font-size: 2.5rem;
    cursor: pointer;
    color: thistle;
    opacity: 0.7;
}

.mes h1{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    color: #e1def3;
    cursor: not-allowed;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);  
}

.mes p{
    font-size: 1.6rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e1def3;
    opacity: 0.8;
    cursor: not-allowed;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
}

.dias-semana{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;  
}

.dias-semana div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
  
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
}

.dias{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.dias div{
  font-size: 1.4rem;
  margin: 00.3rem;
  width: calc(40.2rem/7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgb(0,0,0,0.5rem);
  transition: background-color 0.2s;
}

.dias div:hover:not(.hoje){
    background-color: #2b6dc9 ;
    
    border: 0.1rem solid gainsboro;
    border-radius: 10px;
    cursor: pointer;
}

.dia-anterior,
.proximo-dia{
    opacity: 0.6;
}

.hoje{
    background-color: #0061c2;
    border-radius: 10px;
    font-weight: bolder;
}
