*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: gray;
}

html{
    font-size: 62.5%;
    
    
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #DCDCDC ;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.calendario{
    width: 45rem;
    height: 52rem;
    background-color: 	#F8F8FF;
    box-shadow: 0 0.5 rem 3rem rgba((0,0,0,0,4), green, blue, alpha);
}
.mes{
    width: 100%;
    height: 12rem;
    background-color: #4682B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
}
.mes i {
    font-size: 2.5rem;
    cursor: pointer;
}

.mes h1{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.mes p{
    font-size: 1.6rem;
}

.dias-semana{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}
.dias-semana div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);

}
.dias{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.dias div{
  font-size: 1.4rem;
  margin: 00.3rem;
  width: calc(40.2rem/7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgb(0,0,0,0.5rem);
  transition: background-color 0.2s;
}

.dias div:hover:not(.hoje){
    background-color: saddlebrown;
    border: 0.2rem solid #777;
    cursor: pointer;
}


.dia-anterior,
.proximo-dia{
    opacity: 0.5;
}

.hoje{
    background-color: royalblue;
}

